{% extends "base.html" %}
{% block content %}
<hr>



<h1>SAPID WISE COUNT</h1>

            <div class="row">
                <div class="col-md-6"> </div>

            </div>




<!--DATATABLES-->
<table   class="table table-striped   ">
  <thead>
    <tr>

     <th   scope="col"> SAPID </th>
	 <th   scope="col"> count</th>
<!--	 <th  scope="col">LOOPBACK</th>-->
<!--	 <th  scope="col">MAC Address</th>-->

       </tr>
   </thead>
    <tbody>
        {% for r in router_list %}
        <tr>


            <td>{{ r.sap_id }}</td>

            <td>{{ r.sap_id__count }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<!--	</form>-->

{% endblock %}